#app
  .navbar .logo
    height: 2rem
    min-width: 2rem
    margin-right: 0.8rem
    vertical-align: top

  p code
    padding 0.2rem 0.35rem
    margin 0 2px
    border-radius: 2px

::-webkit-scrollbar
  width 6px
  height 6px

::-webkit-scrollbar-track-piece
  background-color #eaecef

::-webkit-scrollbar-thumb
  background-color #5546a3

pre::-webkit-scrollbar-track-piece
  border-radius 6px
  background-color inherit

pre::-webkit-scrollbar-thumb
  border-radius 6px
  background-color #eaecef80
